<%= vue_form_for InProgressEtd.new do |f| %>
  <ul class='basic_list'>
  <% Hyrax::EtdForm.terms.each do |term| %>
    <li>
      <% if term == :school %>
        <%= render partial: 'schools' %>
        <% else %>
      <%= f.label term %>
      <%= f.text_field term %>
      <% end %>
    </li>
  <% end %>
  </ul>
  <%= f.submit "Create" %>
<% end %>
