<h1>Review Your In-Progress ETD</h1>
<ul class='basic_list'>
</ul>
<%= link_to('Edit', edit_in_progress_etd_path(@in_progress_etd)) %>

<% etd_attrs = @in_progress_etd.data ? JSON.parse(@in_progress_etd.data) : {} %>
<% chair_attrs = etd_attrs.delete('committee_chair_attributes') || [] %>
<% member_attrs = etd_attrs.delete('committee_members_attributes') || [] %>

<form role="form" id="etd_form" action="/concern/etds" method="post">
  <% etd_attrs.each do |k, v| %>
    <p><b><%= k %>:</b> <%= v %></p>
    <input type='hidden' id="etd" name="etd[<%= k %>]" value="<%= v %>"/>
  <% end %>

  <% chair_attrs.each do |i, chair| %>
    <%= summarize_committee_member('Committee Chair', chair) %>
    <input type='hidden' name="etd[committee_chair_attributes][<%= i %>][name][]" value="<%= chair['name'] %>"/>
    <input type='hidden' name="etd[committee_chair_attributes][<%= i %>][affiliation][]" value="<%= chair['affiliation'] %>"/>
  <% end %>

  <% member_attrs.each do |i, member| %>
    <%= summarize_committee_member('Committee Member', member) %>
    <input type='hidden' name="etd[committee_members_attributes][<%= i %>][name][]" value="<%= member['name'] %>"/>
    <input type='hidden' name="etd[committee_members_attributes][<%= i %>][affiliation][]" value="<%= member['affiliation'] %>"/>
  <% end %>
</form>

<div id='submit-etd'>
  <submit-for-approval></submit-for-approval>
</div>

<%= javascript_pack_tag 'submit_etd_for_approval' %>
