<% if registrar_feed.errors.any? %>
  <div id="error_explanation" class="alert alert-danger alert-dismissable" role="alert">
    <h2><%= pluralize(registrar_feed.errors.count, "error") %> prohibited this registrar_feed from being saved:</h2>

    <ul>
      <% registrar_feed.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @registrar_feed do |form| %>

  <div class="field">
    <%# form.label :graduation_records %>
    <%= form.file_field :graduation_records, accept: "application/json" %>
  </div>

  <div class="actions">
    <%= form.submit t(:registrar_data) %>
  </div>
<% end %>
