<table class="embargoes table datatable">
  <thead>
    <tr>
      <%= render partial: 'table_headers' %>
    </tr>
  </thead>
  <tbody>
  <% assets_under_embargo.each do |curation_concern| %>
    <tr>
      <td class="human-readable-type"><%= curation_concern.human_readable_type %></td>
      <td class="title"><%= link_to curation_concern, edit_embargo_path(curation_concern) %></td>
      <td class="current-visibility"><%= visibility_badge(curation_concern.visibility) %></td>
      <td class="embargo-release-date" data-sort="<%= curation_concern.sortable_release_date %>"><%= curation_concern.solr_document[:embargo_release_date_dtsi] ? curation_concern.embargo_release_date : "Unknown release date" %></td>
      <td class="visibility-after-embargo"><%= visibility_badge(curation_concern.visibility_after_embargo) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
