<% emory_faculty = ["Emory Committee Chair", "Non-Emory Committee Chair"] %>
<h3>Committee Chair, Thesis Advisor & Committee Members</h3>
<div class="form-instructions">If your committee chair, thesis advisor, or committee members are not affiliated with Emory, select "Non-Emory" and enter his/her organization.</div>
<div class="committee-chair row first">
  <!-- okay. we have predicates for these in the etd model, as mulitples, too. might not need fields_for if so. -->
  <%= f.fields_for :committee_chair_0 do |c| %>
  <div class="col-sm-6">
    <%= c.input :affiliation_type, as: :select, selected: emory_faculty[0], required: false, label: "Committee Chair/Thesis Advisor's Affiliation",
         collection: emory_faculty,
          input_html: { class: 'form-control committee-chair-select' } %>
    <%= c.input :affiliation, required: false, disabled: true, label: false, input_html: { class: 'form-control committee', value: "Emory", data: { affiliation: 'chairs'} } %>

  </div>

  <div class="col-sm-6">
    <%= c.input :chair_name, required: false, label: "Committee Chair/Thesis Advisor", input_html: { placeholder: 'Last Name, First Name', class: 'form-control committee' } %>
  </div>
  <% end %>
</div>

<div class="committee-chair row second hidden">
  <%= f.fields_for :committee_chair_1 do |c| %>
  <div class="col-sm-6">
    <%= c.input :affiliation_type, as: :select, selected: emory_faculty[0], required: false, label: "Committee Chair/Thesis Advisor's Affiliation",
         collection: emory_faculty,
          input_html: { class: 'form-control committee-chair-select' } %>
    <%= c.input :affiliation, required: false, disabled: true, label: false, input_html: { class: 'form-control committee',  value: "Emory" } %>
  </div>

  <div class="col-sm-6">
    <%= c.input :chair_name, required: false, label: "Committee Chair/Thesis Advisor", input_html: { placeholder: 'Last Name, First Name', class: 'form-control committee' } %>
  </div>
  <% end %>
  <button type="button" class="btn btn-link remove remove-chair"><span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Committee Chair</span></button>
</div>

<div class="committee-chair row third hidden">
  <%= f.fields_for :committee_chair_2 do |c| %>
  <div class="col-sm-6">
    <%= c.input :affiliation_type, as: :select, selected: emory_faculty[0], required: false, label: "Committee Chair/Thesis Advisor's Affiliation",
         collection: emory_faculty,
          input_html: { class: 'form-control committee-chair-select' } %>
    <%= c.input :affiliation, required: false, disabled: true, label: false, input_html: { class: 'form-control committee',  value: "Emory" } %>
  </div>

  <div class="col-sm-6">
    <%= c.input :chair_name, required: false, label: "Committee Chair/Thesis Advisor", input_html: { placeholder: 'Last Name, First Name', class: 'form-control committee' } %>
  </div>
  <% end %>
  <button type="button" class="btn btn-link remove remove-chair"><span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Committee Chair</span></button>
</div>

<div class="committee-chair row fourth hidden">
  <%= f.fields_for :committee_chair_3 do |c| %>
  <div class="col-sm-6">
    <%= c.input :affiliation_type, as: :select, selected: emory_faculty[0], required: false, label: "Committee Chair/Thesis Advisor's Affiliation",
         collection: emory_faculty,
          input_html: { class: 'form-control committee-chair-select' } %>
    <%= c.input :affiliation, required: false, disabled: true, label: false, input_html: { class: 'form-control committee',  value: "Emory" } %>
  </div>

  <div class="col-sm-6">
    <%= c.input :chair_name, required: false, label: "Committee Chair/Thesis Advisor", input_html: { placeholder: 'Last Name, First Name', class: 'form-control committee' } %>
  </div>
  <% end %>
    <button type="button" class="btn btn-link remove remove-chair"><span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Committee Chair</span></button>
</div>

<div class="committee-chair row fifth hidden">
  <%= f.fields_for :committee_chair_4 do |c| %>
  <div class="col-sm-6">
    <%= c.input :affiliation_type, as: :select, selected: emory_faculty[0], required: false, label: "Committee Chair/Thesis Advisor's Affiliation",
         collection: emory_faculty,
          input_html: { class: 'form-control committee-chair-select' } %>
    <%= c.input :affiliation, required: false, disabled: true, label: false, input_html: { class: 'form-control committee',  value: "Emory" } %>
  </div>

  <div class="col-sm-6">
    <%= c.input :chair_name, required: false, label: "Committee Chair/Thesis Advisor", input_html: { placeholder: 'Last Name, First Name', class: 'form-control committee' } %>
  </div>
  <% end %>
    <button type="button" class="btn btn-link remove remove-chair"><span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Committee Chair</span></button>
</div>
