<div class="committee-member row first">
  <div class="col-sm-6 member">
    <%= f.fields_for :committee_members_0 do |c| %>
    <% emory_faculty = ["Emory Faculty", "Non-Emory Faculty"] %>
    <%= c.input "affiliation_type", selected: "Emory Faculty", required: false, label: "Committee Member's Affiliation",
         collection: emory_faculty,
          input_html: { class: 'form-control committee-member-select' } %>
    <%= c.input :affiliation, disabled: true, required: false, label: false, input_html: { class: 'form-control committee', value: "Emory"} %>
  </div>

  <div class="col-sm-6 member-affiliation">
    <%= c.input :name, label: "Committee Member", required: false, input_html: { placeholder: 'Last Name, First Name', class: 'form-control committee' } %>
  </div>
  <% end %>
</div>

<div class="committee-member row hidden second">
  <div class="col-sm-6 member">
    <%= f.fields_for :committee_members_1 do |c| %>
    <% emory_faculty = ["Emory Faculty", "Non-Emory Faculty"] %>
    <%= c.input "affiliation_type", selected: "Emory Faculty", required: false, label: "Committee Member's Affiliation",
         collection: emory_faculty,
          input_html: { class: 'form-control committee-member-select' } %>
    <%= c.input :affiliation, disabled: true, required: false, label: false, input_html: { class: 'form-control committee', value: "Emory"} %>
  </div>

  <div class="col-sm-6 member-affiliation">
    <%= c.input :name, label: "Committee Member", required: false, input_html: { placeholder: 'Last Name, First Name', class: 'form-control committee' } %>
  </div>
  <% end %>
  <button type="button" class="btn btn-link remove remove-member"><span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Committee Member</span></button>
</div>

<div class="committee-member row hidden third">
  <div class="col-sm-6 member">
    <%= f.fields_for :committee_members_2 do |c| %>
    <% emory_faculty = ["Emory Faculty", "Non-Emory Faculty"] %>
    <%= c.input "affiliation_type", selected: "Emory Faculty", required: false, label: "Committee Member's Affiliation",
         collection: emory_faculty,
          input_html: { class: 'form-control committee-member-select' } %>
    <%= c.input :affiliation, disabled: true, required: false, label: false, input_html: { class: 'form-control committee', value: "Emory"} %>
  </div>

  <div class="col-sm-6 member-affiliation">
    <%= c.input :name, label: "Committee Member", required: false, input_html: { placeholder: 'Last Name, First Name', class: 'form-control committee' } %>
  </div>
  <% end %>
  <button type="button" class="btn btn-link remove remove-member"><span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Committee Member</span></button>
</div>

<div class="committee-member row hidden fourth">
  <div class="col-sm-6 member">
    <%= f.fields_for :committee_members_3 do |c| %>
    <% emory_faculty = ["Emory Faculty", "Non-Emory Faculty"] %>
    <%= c.input "affiliation_type", selected: "Emory Faculty", required: false, label: "Committee Member's Affiliation",
         collection: emory_faculty,
          input_html: { class: 'form-control committee-member-select' } %>
    <%= c.input :affiliation, disabled: true, required: false, label: false, input_html: { class: 'form-control committee', value: "Emory"} %>
  </div>

  <div class="col-sm-6 member-affiliation">
    <%= c.input :name, label: "Committee Member", required: false, input_html: { placeholder: 'Last Name, First Name', class: 'form-control committee' } %>
  </div>
  <% end %>
  <button type="button" class="btn btn-link remove remove-member"><span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Committee Member</span></button>
</div>

<div class="committee-member row hidden fifth">
  <div class="col-sm-6 member">
    <%= f.fields_for :committee_members_4 do |c| %>
    <% emory_faculty = ["Emory Faculty", "Non-Emory Faculty"] %>
    <%= c.input "affiliation_type", selected: "Emory Faculty", required: false, label: "Committee Member's Affiliation",
         collection: emory_faculty,
          input_html: { class: 'form-control committee-member-select' } %>
    <%= c.input :affiliation, disabled: true, required: false, label: false, input_html: { class: 'form-control committee', value: "Emory"} %>
  </div>

  <div class="col-sm-6 member-affiliation">
    <%= c.input :name, label: "Committee Member", required: false, input_html: { placeholder: 'Last Name, First Name', class: 'form-control committee' } %>
  </div>
  <% end %>
  <button type="button" class="btn btn-link remove remove-member"><span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Committee Member</span></button>
</div>

<div class="committee-member row hidden sixth">
  <div class="col-sm-6 member">
    <%= f.fields_for :committee_members_5 do |c| %>
    <% emory_faculty = ["Emory Faculty", "Non-Emory Faculty"] %>
    <%= c.input "affiliation_type", selected: "Emory Faculty", required: false, label: "Committee Member's Affiliation",
         collection: emory_faculty,
          input_html: { class: 'form-control committee-member-select' } %>
    <%= c.input :affiliation, disabled: true, required: false, label: false, input_html: { class: 'form-control committee', value: "Emory"} %>
  </div>

  <div class="col-sm-6 member-affiliation">
    <%= c.input :name, label: "Committee Member", required: false, input_html: { placeholder: 'Last Name, First Name', class: 'form-control committee' } %>
  </div>
  <% end %>
  <button type="button" class="btn btn-link remove remove-member"><span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Committee Member</span></button>
</div>

<div class="committee-member row hidden seventh">
  <div class="col-sm-6 member">
    <%= f.fields_for :committee_members_6 do |c| %>
    <% emory_faculty = ["Emory Faculty", "Non-Emory Faculty"] %>
    <%= c.input "affiliation_type", selected: "Emory Faculty", required: false, label: "Committee Member's Affiliation",
         collection: emory_faculty,
          input_html: { class: 'form-control committee-member-select' } %>
    <%= c.input :affiliation, disabled: true, required: false, label: false, input_html: { class: 'form-control committee', value: "Emory"} %>
  </div>

  <div class="col-sm-6 member-affiliation">
    <%= c.input :name, label: "Committee Member", required: false, input_html: { placeholder: 'Last Name, First Name', class: 'form-control committee' } %>
  </div>
  <% end %>
  <button type="button" class="btn btn-link remove remove-member"><span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Committee Member</span></button>
</div>


<div class="committee-member row hidden eighth">
  <div class="col-sm-6 member">
    <%= f.fields_for :committee_members_7 do |c| %>
    <% emory_faculty = ["Emory Faculty", "Non-Emory Faculty"] %>
    <%= c.input "affiliation_type", selected: "Emory Faculty", required: false, label: "Committee Member's Affiliation",
         collection: emory_faculty,
          input_html: { class: 'form-control committee-member-select' } %>
    <%= c.input :affiliation, disabled: true, required: false, label: false, input_html: { class: 'form-control committee', value: "Emory"} %>
  </div>

  <div class="col-sm-6 member-affiliation">
    <%= c.input :name, label: "Committee Member", required: false, input_html: { placeholder: 'Last Name, First Name', class: 'form-control committee' } %>
  </div>
  <% end %>
  <button type="button" class="btn btn-link remove remove-member"><span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Committee Member</span></button>
</div>


<div class="committee-member row hidden ninth">
  <div class="col-sm-6 member">
    <%= f.fields_for :committee_members_8 do |c| %>
    <% emory_faculty = ["Emory Faculty", "Non-Emory Faculty"] %>
    <%= c.input "affiliation_type", selected: "Emory Faculty", required: false, label: "Committee Member's Affiliation",
         collection: emory_faculty,
          input_html: { class: 'form-control committee-member-select' } %>
    <%= c.input :affiliation, disabled: true, required: false, label: false, input_html: { class: 'form-control committee', value: "Emory"} %>
  </div>

  <div class="col-sm-6 member-affiliation">
    <%= c.input :name, label: "Committee Member", required: false, input_html: { placeholder: 'Last Name, First Name', class: 'form-control committee' } %>
  </div>
  <% end %>
  <button type="button" class="btn btn-link remove remove-member"><span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Committee Member</span></button>
</div>


<div class="committee-member row hidden tenth">
  <div class="col-sm-6 member">
    <%= f.fields_for :committee_members_9 do |c| %>
    <% emory_faculty = ["Emory Faculty", "Non-Emory Faculty"] %>
    <%= c.input "affiliation_type", selected: "Emory Faculty", required: false, label: "Committee Member's Affiliation",
         collection: emory_faculty,
          input_html: { class: 'form-control committee-member-select' } %>
    <%= c.input :affiliation, disabled: true, required: false, label: false, input_html: { class: 'form-control committee', value: "Emory"} %>
  </div>

  <div class="col-sm-6 member-affiliation">
    <%= c.input :name, label: "Committee Member", required: false, input_html: { placeholder: 'Last Name, First Name', class: 'form-control committee' } %>
  </div>
  <% end %>
  <button type="button" class="btn btn-link remove remove-member"><span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Committee Member</span></button>
</div>


<div class="committee-member row hidden eleventh">
  <div class="col-sm-6 member">
    <%= f.fields_for :committee_members_10 do |c| %>
    <% emory_faculty = ["Emory Faculty", "Non-Emory Faculty"] %>
    <%= c.input "affiliation_type", selected: "Emory Faculty", required: false, label: "Committee Member's Affiliation",
         collection: emory_faculty,
          input_html: { class: 'form-control committee-member-select' } %>
    <%= c.input :affiliation, disabled: true, required: false, label: false, input_html: { class: 'form-control committee', value: "Emory"} %>
  </div>

  <div class="col-sm-6 member-affiliation">
    <%= c.input :name, label: "Committee Member", required: false, input_html: { placeholder: 'Last Name, First Name', class: 'form-control committee' } %>
  </div>
  <% end %>
  <button type="button" class="btn btn-link remove remove-member"><span class="glyphicon glyphicon-remove"></span> <span class="controls-remove-text">Remove Committee Member</span></button>
</div>
