<% provide :page_header do %>
  <h1>
    <span class="fa fa-user" aria-hidden="true"></span>
    <%= t('hyrax.admin.users.index.title') %>
  </h1>
<% end %>

<div class="row">
  <div class="col-md-12">
      <div class="tab-content">
        <div id="users" class="tab-pane active">
          <div class="panel panel-default labels users-listing">
            <div class="panel-heading">
              <%= t('hyrax.admin.users.index.describe_users_html', count: @presenter.user_count) %>
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped datatable user-info" id="usersTable">
                  <thead>
                  <tr>
                    <th class='display-name'><%= t('.displayname_label') %></th>
                    <th class='net-id'><%= t('.id_label') %></th>
                    <th class='ppid'><%= t('.ppid_label') %></th>
                    <th data-orderable="false"><%= t('.role_label') %></th>
                    <% if @presenter.show_last_access? %>
                      <th  class='access'><%= t('.access_label') %></th>
                    <% end %>
                    <th class='user-status'><%= t('.status') %></th>
                    <th class='actions' data-orderable="false"><%= t('.actions_label') %></th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @presenter.users.each do |user| %>
                    <tr>
                      <td><%= link_to user.display_name || "", hyrax.dashboard_profile_path(user) %></td>
                      <td><%= link_to user.uid || "", hyrax.dashboard_profile_path(user) %></td>
                      <td><%= link_to user.ppid || "", hyrax.dashboard_profile_path(user) %></td>
                      <td>
                        <% roles = @presenter.user_roles(user) %>
                        <ul class="workflow-roles">
                          <% roles.each do |role| %>
                            <li><%= role %></li>
                          <% end %>
                        </ul>

                      </td>
                      <% if @presenter.show_last_access? %>
                        <td data-sort="<%= @presenter.last_accessed(user).getutc.iso8601 %>">
                          <%= @presenter.last_accessed(user).to_formatted_s(:long_ordinal) %>
                        </td>
                      <% end %>
                      <td>
                        <% if user.deactivated %>
                          <span class='label label-danger'>deactivated</span>
                        <% end %>
                      </td>
                      <td>
                        <% if user.deactivated %>
                          <%= link_to "Reactivate",  main_app.activate_path(:id=>user.id, :deactivated=>false), :method=>:put, :data => {:confirm => 'Are you sure you want to reactivate the user?'}%>
                        <% else %>
                          <%= link_to "Deactivate",  main_app.activate_path(:id=>user.id, :deactivated=>true), :method=>:put, :data => {:confirm => 'Are you sure you want to deactivate the user?'}%>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
