<footer class="navbar navbar-inverse site-footer">
  <div class="container-fluid">
    <div class="navbar">
      <div class="container center">
      <ul class="nav">
            <li class="navbar-text"><a href="http://sco.library.emory.edu/etds/faq.html">Frequently Asked Questions</a></li>
      <li class="navbar-text"><a href="http://sco.library.emory.edu/etds/contact.html">Contact Us</a></li>
      <li class="navbar-text"><a href="http://sco.library.emory.edu/etds/help-form.html">ETD Help</a></li>
      <li class="navbar-text"><a href=" http://sco.library.emory.edu/etds/intellectual-property.html">Copyright & Patents</a></li>
      <li class="navbar-text"><a href="http://sco.library.emory.edu/etds/policies.html">Policies & Procedures</a></li>
      <li class="navbar-text"><a href="http://sco.library.emory.edu/etds/embargo.html">Access Restrictions</a></li>
      <li class="navbar-text"><a href="http://www.graduateschool.emory.edu/">Laney Graduate School</a></li>
      <li class="navbar-text"><a href="https://www.sph.emory.edu/">Rollins School of Public Health</a></li>
      <li class="navbar-text"><a href="http://candler.emory.edu/index.html">Candler School of Theology</a></li>
      <li class="navbar-text"><a href="http://college.emory.edu/main/index.html">Emory College</a></li>
      <li class="navbar-text"><a href="http://www.emory.edu/home/academics/libraries/index.html">Emory Libraries</a></li>
      <li class="navbar-text">© 2017 Emory University. Version <span title="<%= GIT_SHA %>"><%= BRANCH %> updated <%= LAST_DEPLOYED %></span>.</li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<% if Rails.application.config_for('new_ui').fetch('enabled', false) %>
  <%= javascript_pack_tag 'schools' %>
  <%= javascript_pack_tag 'submit_etd_for_approval' %>
<% end %>
