<div id='school-config'>
  School Configuration:
  <h1><%= @school.label %></h1>

  <% if @school.admin_set %>
    <%= render partial: 'admin_set', locals: { admin_set: @school.admin_set } %>
  <% end %>

  <% @school.departments.each do |dept| %>
    <div class='department'>
      <span class='org-label'> Department </span>
      <%= dept.label %>

      <% if dept.admin_set %>
        <%= render partial: 'admin_set', locals: { admin_set: dept.admin_set } %>
      <% end %>

      <% unless dept.subfields.empty? %>
        <div class='subfield'>
          <div class='org-label'> Subfields </div>

          <ul>
            <% dept.subfields.each do |subfield| %>
              <li> <%= subfield.label %> </li>
            <% end %>
          </ul>
        </div>
      <% end %>

    </div>
  <% end %>
</div>
