<h1><%= t("hyrax.works.form.tab.my_pdf", type: curation_concern.human_readable_type) %></h1>
<div class="form-instructions">Upload the version of your thesis or dissertation approved by your committee. You can only upload one file. This file should not contain any signatures or other personally identifying information. Because it is a better version for preservation, we recommend you upload a PDF/A file, but it is not required. For help converting your manuscript to PDF/A, please contact Student Digital Life http://it.emory.edu/studentdigitallife/.</div>
<div id="fileupload">
   <!-- Redirect browsers with JavaScript disabled to the origin page -->
   <noscript><input type="hidden" name="redirect" value="<%= main_app.root_path %>"></noscript>
   <!-- The table listing the files available for upload/download -->
   <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>

   <h2><%= t('hyrax.base.form_files.local_upload') %></h2>
   <div class="alert alert-success form-instructions">For PDFs 100MB or smaller, upload from your computer.</div>
   <div id="pdf-max-error" class='alert alert-warning hidden col-xs-12'>Only one PDF may be uploaded.</div>
   <div id="pdf-format-error" class='alert alert-warning hidden col-xs-12'>The Primary PDF must be a file in the .pdf format.
   </div>
   <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
   <div class="row fileupload-buttonbar">
       <div class="col-xs-7">
           <!-- The fileinput-button span is used to style the file input field as button -->
           <span class="btn btn-success fileinput-button">
               <span class="glyphicon glyphicon-plus"></span>
               <span>Add Primary PDF...</span>
               <input type="file" name="primary_files[]" multiple>
           </span>
           <button type="reset" class="btn btn-warning cancel hidden">
               <span class="glyphicon glyphicon-ban-circle"></span>
               <span>Cancel upload</span>
           </button>
           <!-- The global file processing state -->
           <span class="fileupload-process"></span>
       </div>
       <!-- The global progress state -->
       <div class="col-xs-5 fileupload-progress fade">
           <!-- The global progress bar -->
           <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
               <div class="progress-bar progress-bar-success" style="width:0%;"></div>
           </div>
           <!-- The extended global progress state -->
           <div class="progress-extended">&nbsp;</div>
       </div>
   </div>
</div>

<%= render 'hyrax/uploads/js_templates' %>
<% if Hyrax.config.browse_everything? %>
<h2><%= t('hyrax.base.form_files.external_upload') %></h2>
<%= render 'browse_everything', f: f %>
<% end %>
