<h1><%= t("hyrax.works.form.tab.review", type: curation_concern.human_readable_type) %></h1>
<div class="form-instructions">
  <p>
    Almost done! If you have completed all of the previous tabs, then it is now 
    time to review your submission. Please take a moment to carefully review your
    work. If you see errors or information
    that is incorrect, use the tabs above to navigate back to that section to make
    edits. When you're ready to begin reviewing your ETD click the "Generate Preview"
    button below.
  </p>
  <h3>About ProQuest Submissions</h3>
  <p>
    If you are a doctoral student in the Laney Graduate School, your dissertation 
    will be sent to <a href="http://www.proquest.com/products-services/dissertations/">ProQuest</a> upon your graduation.
  </p>
</div>

<div id="review_my_etd">
  <table id='metadata' class="table table-striped etd attributes">
    <tbody></tbody>
  </table>
  <table id='uploaded_pdf' class="table table-striped etd attributes">
  </table>
  <table id='uploaded_supplemental_files' class="table table-striped etd attributes">
  </table>
<p>
<span class="btn btn-primary hidden" id="preview_my_etd">Generate Preview</span>
</p>
  <div id='submission-agreement' class="hidden">
    <% if ::Flipflop.show_deposit_agreement? %>
      <% if ::Flipflop.active_deposit_agreement_acceptance? %>
      <h2>Submission Agreement</h2>
      <p id='submission-agreement-copy' class='well'>
        <%= t('hyrax.active_consent_to_agreement') %>
         <br />
        <label class="submission_agreement">
          <%= check_box_tag 'agreement', 1, f.object.agreement_accepted, required: true %>
          <span class="agreement_text">I HAVE READ AND AGREE TO THE SUBMISSION AGREEMENT</span>
        </label>
      </p>
      <% else %>
        <%= t('hyrax.passive_consent_to_agreement') %><br>
        <%= link_to t('hyrax.deposit_agreement'),
                    hyrax.agreement_path,
                    target: '_blank' %>
      <% end %>
    <% end %>
    <br>
    <%# TODO: If we start using ActionCable, we could listen for object updates and
              alert the user that the object has changed by someone else %>
    <%= f.input Hyrax::Actors::OptimisticLockValidator.version_field, as: :hidden if f.object.persisted? %>
    <%= f.submit "Submit My ETD", class: 'btn btn-primary', onclick: "confirmation_needed = false;", id: "with_files_submit", disabled: true, name: "save_with_files" %>
  </div>

</div>
