<h1><%= t("hyrax.works.form.tab.embargoes", type: curation_concern.human_readable_type) %></h1>
<div class="form-instructions">You have the option to restrict access to your thesis or dissertation for a limited time. Select which parts of your record to include in the embargo and how long the embargo should last. If you are unsure whether to embargo your ETD, consult with your thesis advisor or committee chair.</div>
<div id="my_embargoes">
  <div class="confirm_well">
  <div class="checkbox well">
    <label class="boolean optional" for="etd_no_embargoes">
      <span class="sr-only">Warning:</span>
      <%= f.input :no_embargoes, as: :boolean, label: "I do not want to embargo my thesis or dissertation.", input_html: { id: 'no_embargoes' } %>
    </label>
  </div>
</div>
  <h4>What do you want to embargo?</h4>

  <p class="help-block">You can choose to embargo only your files or more of your thesis or dissertation record. Select which parts of your record you would like to include in your embargo. If a patent is associated with your thesis or dissertation, consult with the Office of Technology Transfer about your embargo. Contact the Office of Technology Transfer at (404) 727-2211.</p>

  <%= select_tag "embargo_type",
    options_for_select([
      ["Files", [:files_embargoed]],
      ["Files and Table of Contents", [:files_embargoed, :toc_embargoed]],
      ["Files, Table of Contents and Abstract", [:files_embargoed, :toc_embargoed, :abstract_embargoed]]
    ], f.object.selected_embargo_type),
    { class: 'form-control required-embargo', include_blank: true }
  %>

  <%= f.input :toc_embargoed, as: :hidden %>
  <%= f.input :abstract_embargoed, as: :hidden %>
  <%= f.input :files_embargoed, as: :hidden %>

  <h4>Select your school</h4>

  <div class='form-group select'>
    <%= select_tag "embargo_school", options_for_select(['Emory College', 'Rollins School of Public Health', 'Candler School of Theology', 'Laney Graduate School'], f.object.school), { include_blank: true, class: 'form-control' } %>
  </div>

  <h4>How long will the embargo last?</h4>
  <%= f.input :embargo_length, as: :select, collection: ["6 months", "1 year", "2 years", "6 years"], required: true, label: false, hint: "Choose the length of time for your embargo.", input_html: { class: 'form-control required-embargo' } %>
</div>
