<h1><%= t("hyrax.works.form.tab.about_my_etd", type: curation_concern.human_readable_type) %></h1>
<div class="about-my-etd">
  <%= f.input :title, required: true, label: "Title", hint: "",
      input_html: { class: 'form-control' } %>

  <% f.object.about_my_etd_fields.each do |term| %>
    <%= render_edit_field_partial(term, f: f) %>
  <% end %>

  <%= f.input :keyword, hint: "To increase searchability, input keywords to describe your work. Enter a single word or phrase per box. You must add at least one keyword, but there is no maximum.", label: "Keyword", as: :etd_multi_value, required: true, input_html: { class: 'form-control' } %>
  </div>
    <h4>Copyright & Patents</h4>

    <p class='help-block'>Below are three questions related to copyright and patents for your thesis or dissertation. Read each question and select either Yes or No.</p>

    <div id="question_1" class="question">
      <p class="question_text">
      1) Does your thesis or dissertation contain any third-party text, audiovisual content or other material which is beyond a fair use and would require permission?</p>
      <%= f.input :copyright_question_one, as: :radio_buttons, label: "", input_html: { class: 'copyright'} %>
    </div>

    <div id="question_2" class="question">
      <p class="question_text">
      2) Does your thesis or dissertation contain content, such as a previously published article, for which you no longer own copyright? If you have questions about your use of copyrighted material, contact the Scholarly Communications Office at scholcomm@listserv.cc.emory.edu.</p>
      <%= f.input :copyright_question_two, as: :radio_buttons, label: "", input_html: { class: 'copyright' } %>
    </div>

    <div id="question_3" class="question">
      <p class="question_text">
      3) Does your thesis or dissertation disclose or describe any inventions or discoveries that could potentially have commercial application and therefore may be patented? <b>If so, please contact the Office of Technology Transfer (OTT) at (404) 727-2211.</b></p>
      <%= f.input :copyright_question_three, as: :radio_buttons, label: "", input_html: { class: 'copyright'} %>
    </div>

    <input name="about_my_etd_data" value="Save My ETD" class="btn btn-primary" id="about_my_etd_data" type="submit" />
