<h1><%= t("hyrax.works.form.tab.about_me", type: curation_concern.human_readable_type) %></h1>

<div class="form-instructions">
  <p>It's time to submit your thesis or dissertation! Let's begin with some basic information.</p>
</div>
<div class="base-terms about-me">
  <%= f.input :creator, label: "Student Name", required: false, placeholder: "Last Name, First Name", hint: "",
      input_html: { class: 'form-control' } %>

  <% graduation_dates = ["Spring 2018", "Winter 2018"] %>
  <%= f.input :graduation_date, as: :select,
         collection: graduation_dates,
          input_html: { class: 'form-control' } %>

  <%= f.input :post_graduation_email, hint: 'We will need a way to contact you after graduation. Please provide a non-Emory email address where you can be reached after your Emory email address is disabled. Make sure the email address is one you plan to maintain and check regularly.', input_html: { class: 'form-control' } %>

</div>

<h3>About My Program</h3>
<p>Select your school and department from the menus below.</p>

<div class="about-me chairs">
  <% f.object.about_my_program_fields.each do |term| %>
    <%= render_edit_field_partial(term, f: f) %>
  <% end %>
</div>
<div class='row'>
  <div class='col-sm-12'>
    <button type="button" id="add-another-chair" class="btn btn-link add"><span class="glyphicon glyphicon-plus"></span> <span class="controls-add-text">Add Another Committee Chair/Thesis Advisor</span></button>
  </div>
</div>

<div class="about-me members">
  <%= render_edit_field_partial(:committee_members, f: f) %>
</div>

<div class='row'>
  <div class='col-sm-12'>
    <button type="button" id="add-another-member" class="btn btn-link add"><span class="glyphicon glyphicon-plus"></span><span class="controls-add-text">Add Another Committee Member</span></button>
  </div>
</div>

<input name="about_me_and_my_program" value="Save About Me" class="btn btn-primary" id="about_me_and_my_program" type="submit" />

<div id="success"></div>
