<h1><%= t("hyrax.works.form.tab.about_me", type: curation_concern.human_readable_type) %></h1>

<div class="form-instructions">
  <p>Lorum Ipsum Lorum Ipsum Lorum Ipsum Lorum Ipsum Lorum Ipsum Lorum Ipsum.</p>
</div>
<div class="base-terms about-me">
  <%= f.input :creator, label: "Student Name", placeholder: "Last Name, First Name", hint: "",
      input_html: { class: 'form-control' } %>

  <% graduation_dates = ["Spring 2018", "Winter 2018"] %>
  <%= f.input :graduation_date, as: :select,
         collection: graduation_dates,
          input_html: { class: 'form-control' } %>

  <%= f.input :post_graduation_email, hint: 'Lorum Ipsum Lorum Ipsum', input_html: { class: 'form-control' } %>

  <h3>About My Etd</h3>
  <%= f.input :title, label: "Title", hint: "",
      input_html: { class: 'form-control' } %>

</div>

<h3>About My Program</h3>
<p>Lorum Ipsum Lorum Ipsum Lorum Ipsum Lorum Ipsum Lorum Ipsum Lorum Ipsum.</p>

<div class="about-me program">
  <%= render 'form_media', f: f %>
  <% f.object.about_my_program_fields.each do |term| %>
    <%= render_edit_field_partial(term, f: f) %>
  <% end %>
</div>

<div class='row'>
  <div class='col-sm-12'>
    <button type="button" class="btn btn-link add"><span class="glyphicon glyphicon-plus"></span> <span class="controls-add-text" id="add-another-member">Add Another Committee Member</span></button>
  </div>
</div>

<input name="about_me_and_my_program" value="Save About Me" class="btn btn-primary" id="about_me_and_my_program" type="submit" />

<div id="success"></div>
