<h2>About this <%= presenter.submitting_type %> </h2>
<table class="work-show <%= dom_class(presenter) %> attributes" <%= presenter.microdata_type_to_html %>>
  <tbody>
    <%= presenter.attribute_to_html(:rights_statement, render_as: :rights_statement, html_dl: true) %>
    <%= presenter.attribute_to_html(:school, render_as: :faceted) %>
    <%= presenter.attribute_to_html(:department, render_as: :faceted) %>
    <%= presenter.attribute_to_html(:subfield, label: "Subfield / Discipline", render_as: :faceted) %>
    <%= presenter.attribute_to_html(:degree, render_as: :faceted) %>
    <%= presenter.attribute_to_html(:submitting_type, label: "Submission", render_as: :faceted) %>
    <%= presenter.attribute_to_html(:language) %>
    <%= presenter.attribute_to_html(:research_field, label: "Research Field", render_as: :faceted) %>
    <%= presenter.attribute_to_html(:keyword, label: "Keywords", render_as: :faceted) %>
    <%= presenter.attribute_to_html(:committee_chair_name, label: "Committee Chair / Thesis Advisor", render_as: :faceted) %>
    <%= presenter.attribute_to_html(:committee_members_names, label: "Committee Members", render_as: :faceted) %>
    <%= presenter.attribute_to_html(:partnering_agency, label: "Partnering Agencies", render_as: :faceted) if presenter.school&.first =~ /Rollins/ %>
    <%= presenter.attribute_to_html(:permanent_url, label: "Permanent URL") %>
    <% if presenter.current_ability_is_approver? %>
      <%= presenter.attribute_to_html(:requires_permissions, label: t("hyrax.works.requires_permissions_label"))%>
      <%= presenter.attribute_to_html(:other_copyrights, label: t("hyrax.works.other_copyrights_label"))%>
      <%= presenter.attribute_to_html(:patents, label: t("hyrax.works.patents_label"))%>
      <%= presenter.attribute_to_html(:files_embargoed, label: "Files Under Embargo", include_empty: true)%>
      <%= presenter.attribute_to_html(:abstract_embargoed, label: "Abstract Under Embargo", include_empty: true)%>
      <%= presenter.attribute_to_html(:toc_embargoed, label: "Table of Contents Under Embargo", include_empty: true)%>
      <%= presenter.attribute_to_html(:embargo_length, label: "Requested Embargo", include_empty: true)%>
      <%= presenter.attribute_to_html(:degree_awarded, label: "Degree Awarded")%>
    <% end %>
  </tbody>
</table>
