<h2>Primary PDF</h2>
<% if presenter.member_presenters.present? %>
  <table class="table table-striped related-files">
    <thead>
      <tr>
        <th><%= t('.thumbnail') %></th>
        <th><%= t('.title') %></th>
        <th><%= t('.date_uploaded') %></th>
        <th><%= t('.actions') %></th>
      </tr>
    </thead>
    <% if member = @presenter.member_presenters.select { |mp| mp.solr_document["pcdm_use_tesim"].include?("primary")}.first %>
    <tbody>
      <tr class="<%= dom_class(member) %> attributes">
        <td class="thumbnail">
          <% if @presenter.files_embargo_check %>
            <%= image_tag "No_Preview.png" %>
          <% else %>
            <%= render_thumbnail_tag member.solr_document %>
          <% end %>
        </td>
        <td class="attribute filename">
          <% if @presenter.files_embargo_check %>
            <%= @presenter.files_embargo_check %>
          <% else %>
            <%= link_to(member.link_name, contextual_path(member, @presenter)) %>
            <% if member.description %>
              <%= " (#{member.description.first})" %>
            <% end %>
          <% end %>
        </td>
        <td class="attribute date_uploaded"><%= member.try(:date_uploaded) %></td>
        <td>
          <%= render 'actions', member: member %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
<% elsif can? :edit, presenter.id %>
    <div class="alert alert-warning" role="alert"><%= t('.empty', type: presenter.human_readable_type) %></div>
<% end %>
